$main-color: #d3d3d3;

%spanStyle {
    span {
        font-size: 35px;
        cursor: pointer;
        padding: 10px;
        border-radius: 50%;

        &:hover {background-color: lighten($main-color, 10%);}

        // make it with fill color
        &:active {
            font-variation-settings:
            'FILL' 1,
            'wght' 400,
            'GRAD' 0,
            'opsz' 48
        }
    }
}

%searchSection-border {
    border: 1.5px solid $main-color;
}
