// vriables
$hover-color: #d3d3d3;
$main-color: white;


// extends
%spanStyle {
    span {
        font-size: 35px;
        cursor: pointer;
        padding: 10px;
        border-radius: 50%;

        &:hover {background-color: lighten($hover-color, 10%);}

        // make it with fill color
        &:active {
            font-variation-settings:
            'FILL' 1,
            'wght' 400,
            'GRAD' 0,
            'opsz' 48
        }
    }
}

%searchSection-border {
    border: 1.5px solid $hover-color;
}



// color function
@function color($color) {
    @if (lightness($color) > 75%) {
        @return black;
    }
    @else {
        @return white;
    }
}


body.dark {
    $main-color: #333;
    background-color: $main-color;
}

body {
    color: color($main-color);
}