@import "vars";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
     
    .user-section {
        @extend %spanStyle;
    }

    .search-section {
        display: inline-flex;

        input {
            width: 500px;
            height: 40px;
            border-radius: 10px 75px 75px 10px;
            @extend %searchSection-border;
        }

        #search {
            width: 70px;
            height: 40px;
            background-color: lighten($main-color, 13%);
            border-radius: 75px 10px 10px 75px;
            @extend %searchSection-border;
            cursor: pointer;
            &:hover {background-color: lighten($main-color, 10%);}
        }

        #mic {
            font-variation-settings:
            'FILL' 1,
            'wght' 400,
            'GRAD' 0,
            'opsz' 48;

            font-size: 30px;
            cursor: pointer;
            padding: 10px;
            border-radius: 50%;
    
            &:hover {background-color: lighten($main-color, 10%);}
    
        }

    }

    .menu-section {
        @extend %spanStyle;
        img {
            height: 56px;
        }
        span {
            font-size: 30px;
            float: right;
        }
    }
}


main {
    .navBar-section {
        display: flex;
        align-items: center;
        justify-content: center;

        nav {
            position: fixed;
            top: 50px;
            right: 0;
            width: 200px;
            height: 500px;
            background-color: white;
            padding: 15px;
            transition: all 0.4s ease-in-out;
            transform: translateX(0);
            
            &.active {transform: translateX(200px);}

            li {
                border-radius: 10px;
                padding: 5px;
                list-style: none;
                cursor: pointer;
                
                &:hover {
                    background-color: lighten($main-color, 10%);

                    font-variation-settings:
                    'FILL' 1,
                    'wght' 400,
                    'GRAD' 0,
                    'opsz' 48
                }

            }
        }
    }

    .videos-container {
        height: 500px;
        // background-color: silver;
    }
}
